<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li *ngIf="authService.isLoggedIn" class = "nav-item">
          <a routerLink="tasks" routerLinkActive="active" class="nav-link" >Task List</a>
      </li>
      <li *ngIf="authService.isLoggedIn" class = "nav-item">
        <a routerLink="search-task" routerLinkActive="active" class="nav-link" >Search Task</a>
      </li>
      <li *ngIf="authService.isLoggedIn" class = "nav-item">
          <a routerLink="create-task" routerLinkActive="active" class="nav-link" >New Task</a>
      </li>
      <li *ngIf="authService.isLoggedIn" class = "nav-item logout">
        <a routerLink="logout" routerLinkActive="active" class="nav-link" >Log Out</a>
      </li>
      <li *ngIf="!authService.isLoggedIn" class = "nav-item login">
        <a routerLink="login" routerLinkActive="active" class="nav-link" >Log In</a>
      </li>
  </ul>
</nav>

<div class = "container">
  <router-outlet></router-outlet>
</div>

