
<div class="col-md-6 offset-md-3">
  <h3>Search Task</h3>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>Assigned to</label>
        <select class="form-control" id="user" [(ngModel)]="task.user.id" name="user">
          <option *ngFor="let user of users" [ngValue]="user.id">{{ user.userName }}</option>
        </select>
      </div>

    <div class="form-group">
      <label>Subject</label>
      <input type="text" class="form-control" id="subject" [(ngModel)]="task.subject" name="subject">
    </div>
    <div class="form-group">
      <label>Due Date</label>
      <input type="date" class="form-control" id="dueDate" [(ngModel)]="task.dueDate" name="dueDate">
    </div>
    <div class="form-group">
      <label>Status</label>
      <select type="text" class="form-control" id="status" [(ngModel)]="task.status" name="status">
        <option *ngFor="let status of statuses | keyvalue" [ngValue]="status.key">{{ status.value }}</option>
      </select>
    </div>
    
    <button class="btn btn-success button-submit" type="submit">Submit</button>
  </form>  
</div>

<div *ngIf="isFormSent">
  <h1>Task List</h1>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>No.</th>
              <th>Due Date</th>
              <th>Subject</th>
              <th>Status</th>
              <th>Assigned</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let task of tasks; let i = index">
              <td>{{i + 1}}</td>
              <td>{{task.dueDate}}</td>
              <td>{{task.subject}}</td>
              <td>{{task.status}}</td>
              <td>{{task.user?.userName}}</td>
              <td>
                <button *ngIf="task.id !== undefined" (click)="updateTask(task.id)" class="btn btn-info">Update</button>
                <button *ngIf="task.id !== undefined" (click)="deleteTask(task.id)" class="btn btn-danger delete">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
